<div class="posts main-post-list">
    {% unless paginator.posts %}
        <article>
            <section class="post-content"><p>There are no blog posts</p></section>
        </article>
    {% endunless %}
    {% for post in paginator.posts %}
        <div class="post-teaser">
            <div class="post-teaser-inner">
                <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                    {% if post.thumbnail %}
                        <div class="post-img">

                            <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">

                        </div>
                    {% endif %}
                    <div>
                        {% comment %}<a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">{% endcomment %}
                            <header>
                                <h1>
                                    {{ post.title }}
                                </h1>
                                {% include blog/post_info.liquid author=post.author date=post.date %}
                            </header>
                            {% if site.excerpt or site.theme_settings.excerpt %}
                                <div class="excerpt">
                                    {% if site.excerpt == "truncate" %}
                                        {{ post.content | strip_html | truncate: '250' | escape }}
                                    {% else %}
                                        {{ post.excerpt | strip_html | escape }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% comment %}</a>{% endcomment %}
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}

<!-- <script defer src="/assets/js/customs/grid-masonry.js"></script> -->
